@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background: url("assets/image/hero.png");
  background-position: top 25% right 0;
  background-size: cover;
}

#hero button {
  background-image: url("assets/image/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
